body {
    background-color: powderblue;
    
  }
  h1 {
    color: crimson;
    font-family: verdana;
    }

  p {
    color: mediumpurple;
    font-family: courier;
    font-size: 100%;
    text-align: center;

  }


  
    
        
      
   
 